<footer style="background-color: #222; color: #fff; padding: 40px 0;">
  <div class="container">
    <div class="row">
      <!-- Social Media Links -->
      <div class="col-lg-4 col-md-4">
        <ul class="social-links" style="list-style: none; padding: 0; display: flex; gap: 15px;">
          <li><a href="https://www.facebook.com/" target="_blank" style="color: #fff;"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://x.com" target="_blank" style="color: #fff;"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/" target="_blank" style="color: #fff;"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank" style="color: #fff;"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      
      <!-- Text Content -->
      <div class="col-lg-8">
        <p style="margin-top: 10px; font-size: 14px; line-height: 1.5;">
          <strong>inmobiliario-o5pg.onrender.com</strong> forma parte de Portal inmobiliario Inc., líder mundial en arriendos VIP online y servicios relacionados.
          <br>Copyright © 1996-2024 inmobiliario-o5pg.onrender.com™. Todos los derechos reservados.
          <br><a rel="nofollow" href="https://inmobiliario-o5pg.onrender.com" target="_blank" style="color: #4db8ff; text-decoration: none;">Portal Inmobiliario</a>
        </p>
      </div>
    </div>
  </div>
</footer>

