{% load static %}
<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="info">
          <li><i class="fa fa-envelope"></i> portalinmobiliario@gmail.com</li>
          <li><i class="fa fa-map"></i> Los mejores inmuebles de Chile</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 text-right">
        {% if user.is_authenticated %}
          <span class="d-inline">Bienvenido {{ user.username }}</span>
          <form action="{% url 'logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button data-mdb-ripple-init type="submit" class="btn btn-outline">
              Cerrar sesión
            </button>
          </form>
        {% else %}
          <a href="{% url 'login' %}" class="nav-link d-inline">
            <i class="fa fa-user-circle" style="font-size: 18px; margin-right: 5px;"></i> Iniciar sesión
          </a>
          <a href="{% url 'registro_usuario' %}" class="nav-link d-inline">Registro</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="{% url 'home' %}" class="logo">
                      <h2>Portal Inmobiliario</h2>
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->                    
                  <ul class="nav">        
                    <li><a class="nav-link d-inline" href="{% url 'home' %}">Home</a></li>
                    <li><a class="nav-link d-inline" href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a class="nav-link d-inline" href="{% url 'actualizar_usuario' %}">Perfil</a></li>
                    
                    {% if user.is_authenticated and user.tipo_usuario == 'arrendador' %}
                      <li><a class="nav-link d-inline" href="{% url 'alta_inmueble' %}">Crear inmueble</a></li>
                    {% endif %}
                  </ul>                  
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
